.App {
  text-align: center;
  font-family: Arial, sans-serif; /* Add a font-family for better readability */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-header {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .search-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.outer-container{
  height: 100%;
}

.bottom-button {
  margin-left: 30px;
  transform: translateX(-50%);
  padding: 20px 50px; /* Adjust padding as needed */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.bottom-button:hover {
  background-color: #0056b3;
}
